{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <br>
        <h3>Hi! You're one step closer!</h3>
        <p>Torch will be collecting your information for our yearbook this year.
        Please make sure that all of the information you are going to provide are all correct and valid.
        All information will be reviewed by the staff for approval.</p>
        <a class="btn btn-primary btn-lg blue z-depth-0" href="{% url 'submissions_form' %}" style="text-transform: capitalize;">Submit entry</a>
    </div>
{% endblock %}