{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form action="{% url 'account' %}" method="post">
                {% csrf_token %} {% for field in form.visible_fields %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field | add_class:'form-control' }}
                </div>
                {% endfor %}
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}