{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Register</h2>
                        <form action="{% url 'register' %}" method="post">
                            {% csrf_token %}
                            {% for field in form.visible_fields %}
                                <div class="form-group">
                                    <label>{{ field.label }}</label>
                                    {{ field | add_class:'form-control' }}
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <button type="submit" class="btn btn-raised btn-success btn-block btn-ripple">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}